<div class="row">
    <div [ngClass]="isSidePanelVisible? 'col-8': 'col-12'" >
        <div class="card">
        <div class = "card-header bg-primary">
            <div class="row">
                <div class="col-6">
                    Product List
                </div>
                <div class="col-6 text-end">
                    <button class = "btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="card" >
                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <p class="card-text">Some example text.</p>
                          <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                      </div>
                      

                </div>
                <div class="col-3">
                    <div class="card" >
                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <p class="card-text">Some example text.</p>
                          <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                      </div>
                      

                </div><div class="col-3">
                    <div class="card" >
                        <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                        <div class="card-body">
                          <h4 class="card-title">John Doe</h4>
                          <p class="card-text">Some example text.</p>
                          <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                      </div>
                      

                </div>
                

            </div>
            


        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class = "card-header bg-primary">
            <div class="row">
                <div class="col-6">
                    New Product List
                </div>
                <div class="col-6 text-end">
                    <button class = "btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <label for="">ID</label>
                    <input type="text" [(ngMode1)]="productObj.productId" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">SKU</label>
                    <input type="text" [(ngMode1)]="productObj.productSku" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">Product Name</label>
                    <input type="text" [(ngMode1)]="productObj.productName" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">Price</label>
                    <input type="text" [(ngMode1)]="productObj.productPrice" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">Short Name</label>
                    <input type="text" [(ngMode1)]="productObj.productShortName" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">Date</label>
                    <input type="text" [(ngMode1)]="productObj.createdDate" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">Deliver Time</label>
                    <input type="text" [(ngMode1)]="productObj.deliveryTime" class="form-control">

                </div>
                <div class="col-6">
                    <label for="">category ID</label>
                    <input type="text" [(ngMode1)]="productObj.categoryID" class="form-control">

                </div>
                <div class="col-6">
                    <label for=""></label>
                    <input type="text" [(ngMode1)]="productObj.productShortName" class="form-control">

                </div>
            </div>

        </div>
    </div>
</div>